/*css reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
}

.list-group > a {
	text-decoration: none !important;
}

a,p {
	font-family: 'Karla', sans-serif;
	font-size: 1.5rem;
}

h1,h2,h3,h4,h5, .nav-link {
	font-family: 'Rubik', sans-serif;
}

a, .active {
	color: #FF6046 !important;
}

a:hover {
	color: #FF6046;
	text-decoration: none;
}


#brandlogo {
	width: 13rem;
	height: 13rem;
}

.nav-item > .nav-link {
	font-size: 2.1rem;
}

.nav-item > .nav-link:hover {
	color: #FF6046 !important;
}

.badge-primary, .bg-primary {
	background-color: #FF6046 !important;
}

#hdr-image {
	height: 70vh;
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 72, 91, 0.5)), 
	url(../images/patricia-prudente-456054-unsplash.jpg);
	background-size: cover;
	background-color: #fff;
	background-attachment: fixed;
}

#hdr-image2 {
	height: 55vh;
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 72, 91, 0.5)), 
	url(../images/sharon-mccutcheon-526414-unsplash.jpg);
	background-size: cover;
	background-color: #fff;
	background-attachment: fixed;
}

#hdr-image3 {
	height: 55vh;
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 72, 91, 0.5)), 
	url(../images/amy-shamblen-651683-unsplash.jpg);
	background-size: cover;
	background-color: #fff;
	background-attachment: fixed;
}

#hdr-image4 {
	height: 55vh;
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 72, 91, 0.5)), 
	url(../images/w-349443-unsplash.jpg);
	background-size: cover;
	background-color: #fff;
	background-attachment: fixed;
}

#hdr-image5 {
	height: 55vh;
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 72, 91, 0.5)), 
	url(../images/austin-chan-275640-unsplash.jpg);
	background-size: cover;
	background-color: #fff;
	background-attachment: fixed;
}

#hdr-image6 {
	height: 55vh;
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 72, 91, 0.5)), 
	url(../images/willian-justen-de-vasconcellos-550613-unsplash.jpg);
	background-size: cover;
	background-color: #fff;
	background-attachment: fixed;
}

#hdr-image7 {
	height: 55vh;
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 72, 91, 0.5)), 
	url(../images/photo-1487376480913-24046456a727.jpg);
	background-size: cover;
	background-color: #fff;
	background-attachment: fixed;
}

#hdr-image8 {
	height: 55vh;
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 72, 91, 0.5)), 
	url(../images/snapbythree-my-15563-unsplash.jpg);
	background-size: cover;
	background-color: #fff;
	background-attachment: fixed;
}

#hdr-image9 {
	height: 55vh;
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 72, 91, 0.5)), 
	url(../images/claudia-alexandra-362406-unsplash.jpg);
	background-size: cover;
	background-color: #fff;
	background-attachment: fixed;
}

#hdr-image10 {
	height: 55vh;
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 72, 91, 0.5)), 
	url(../images/chuttersnap-297550-unsplash.jpg);
	background-size: cover;
	background-color: #fff;
	background-attachment: fixed;
}

#hdr-image11 {
	height: 55vh;
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 72, 91, 0.5)), 
	url(../images/anders-jilden-87205-unsplash.jpg);
	background-size: cover;
	background-color: #fff;
	background-attachment: fixed;
}

#hdr-image12 {
	height: 55vh;
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 72, 91, 0.5)), 
	url(../images/thought-catalog-462302-unsplash.jpg);
	background-size: cover;
	background-color: #fff;
	background-attachment: fixed;
}

#hdr-image13 {
	height: 55vh;
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 72, 91, 0.5)), 
	url(../images/photo-1524678516592-b3fbf8938717.jpg);
	background-size: cover;
	background-color: #fff;
	background-attachment: fixed;
}

#hdr-image14 {
	height: 70vh;
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 72, 91, 0.5)), 
	url(../images/willian-justen-de-vasconcellos-510890-unsplash.jpg);
	background-size: cover;
	background-color: #fff;
	background-attachment: fixed;
}




.card {
  border-style: none !important;
  border-radius: 0 !important;
  border: 0 !important;
  background-color: #ff485b !important; 
}

.card-footer {
  border: 0;
}

.card-body a {
  text-decoration-color: #FF6046;
}

.modal-body {
  padding: 0 !important;
}
.modal-header {
  background-color: rgba(0,0,0,0.6)
  border: 0 !important;
  border-style: none;
}

.modal-content {
  border: 0 !important;
}

.modal-content {
  border-radius: 0 !important;
  background-color: rgba(0,0,0,0.6)
}

.modal-title {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.ekko-lightbox-nav-overlay > a:hover {
  color: white;
}

.list-group-item, {
	background-color: #C34529 !important;
	border-color: #C34529 !important;
}

.list-group-item:hover, {
	background-color: #FF6046 !important;
	border-color: #FF6046 !important;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.table thead tr th, .table tbody tr td, .table tfoot tr td, .table tbody+tbody  {
    border: none !important;
    border-color: transparent !important;
}

.form-control {
	border: none !important;
	background-color: #efefef;
}

.form-control:focus {
	border: none !important;
	background-color: #efefef;
}

.card-footer > .form-control {
	border: none !important;
	background-color: #fff;
}

.list-group > a {
	color: white;
}

.tab-pane {
	background-color: #ff485b !important;
	border-color: #ff485b !important;
}

.tab-pane:hover {
	background-color: #ff485b !important;
	border-color: #ff485b !important;
}

input[type="file"] {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #hdr-image, #hdr-image2, #hdr-image3, #hdr-image4, #hdr-image5, #hdr-image6, #hdr-image7, #hdr-image8, #hdr-image9, #hdr-image10, #hdr-image11, #hdr-image12, #hdr-image13, #hdr-image14 {
    background-attachment: scroll;
    height: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #hdr-image, #hdr-image2, #hdr-image3, #hdr-image4, #hdr-image5, #hdr-image6, #hdr-image7, #hdr-image8, #hdr-image9, #hdr-image10, #hdr-image11, #hdr-image12, #hdr-image13, #hdr-image14 {
    background-attachment: scroll;
    height: auto;
  }
}

@media screen and (max-width: 576px) {
  #hdr-image, #hdr-image2, #hdr-image3, #hdr-image4, #hdr-image5, #hdr-image6, #hdr-image7, #hdr-image8, #hdr-image9, #hdr-image10, #hdr-image11, #hdr-image12, #hdr-image13, #hdr-image14 {
    background-attachment: scroll;
    height: auto;
  }
}