.list-group > a {
	text-decoration: none !important;
}

a,p {
	font-family: 'Karla', sans-serif;
	font-size: 1.5rem;
}

h1,h2,h3,h4,h5, .nav-link {
	font-family: 'Rubik', sans-serif;
}


#brandlogo {
	width: 13rem;
	height: 13rem;
}

.nav-item > .nav-link {
	font-size: 2.1rem;
}

.nav-item > .nav-link:hover {
	color: #FF6046 !important;
}

.badge-primary, .bg-primary {
	background-color: #FF6046 !important;
}